# Core
streamlit==1.50.0
streamlit-webrtc==0.63.5
streamlit-js-eval==0.1.7

# ML / Data
numpy==1.24.4
pandas==2.2.2
scikit-learn==1.2.2
scipy==1.11.1
ml_dtypes==0.5.3
joblib==1.5.2
matplotlib==3.7.2

# Computer Vision
opencv-python-headless==4.10.0.78
mediapipe==0.10.13
protobuf

# Audio / Speech
gTTS==2.5.4
SpeechRecognition==3.14.0

# Utilities
tqdm==4.67.1
toml==0.10.2

# Google Generative AI
google-generativeai==0.8.5



