google-generativeai==0.8.5
gTTS==2.5.4
joblib==1.5.2
matplotlib==3.10.0
mediapipe
ml_dtypes==0.5.3
numpy==2.0.2
opencv-python-headless
pandas==2.2.2
protobuf
scikit-learn==1.6.1
scipy==1.15.3
SpeechRecognition==3.14.3
streamlit==1.50.0
streamlit-js-eval==0.1.7
streamlit-webrtc==0.63.5
toml==0.10.2
tqdm==4.67.1
